In [1]:
# Leitura do arquivo
import pandas as pd

In [2]:
# Pegando os arquivos no github
arquivo1 = 'https://github.com/devGuus/Unisantos/raw/main/tde/Dados/importacoes-exportacoes-petroleo-2000-2023.xls'
arquivo2 = 'https://github.com/devGuus/Unisantos/raw/main/tde/Dados/processamento-petroleo-m3-1990-2023.xls'

# Imprimindo arquivo completo
df1 = pd.read_excel(arquivo1)
df2 = pd.read_excel(arquivo2)

In [3]:
df1["ANOMES"] = df1["ANO"].astype(str)+'-'+df1["MÊS"]
df1 = df1.drop(columns=["ANO","MÊS"]).set_index("ANOMES")

In [4]:
# Exportação é marcada como negativa (sai do país)
df1.loc[df1["OPERAÇÃO COMERCIAL"] == "EXPORTAÇÃO", "IMPORTADO / EXPORTADO"] = df1[df1["OPERAÇÃO COMERCIAL"] == "EXPORTAÇÃO"]["IMPORTADO / EXPORTADO"].apply(lambda x: x *-1)
df1["OPERAÇÃO COMERCIAL"] = df1["OPERAÇÃO COMERCIAL"].astype('category')
print(df1["OPERAÇÃO COMERCIAL"])
df1["OPERAÇÃO COMERCIAL"]  = df1["OPERAÇÃO COMERCIAL"].cat.codes
# df1 = df1.drop(columns=["OPERAÇÃO COMERCIAL"])

ANOMES
2000-ABR    EXPORTAÇÃO
2000-AGO    EXPORTAÇÃO
2000-DEZ    EXPORTAÇÃO
2000-FEV    EXPORTAÇÃO
2000-JAN    EXPORTAÇÃO
               ...
2022-SET    IMPORTAÇÃO
2023-FEV    EXPORTAÇÃO
2023-JAN    EXPORTAÇÃO
2023-FEV    IMPORTAÇÃO
2023-JAN    IMPORTAÇÃO
Name: OPERAÇÃO COMERCIAL, Length: 556, dtype: category
Categories (2, object): ['EXPORTAÇÃO', 'IMPORTAÇÃO']

In [5]:
df1

,PRODUTO,OPERAÇÃO COMERCIAL,IMPORTADO / EXPORTADO,DISPÊNDIO / RECEITA
ANOMES,,,,
2000-ABR,PETRÓLEO,0,-0.000000e+00,0
2000-AGO,PETRÓLEO,0,-0.000000e+00,0
2000-DEZ,PETRÓLEO,0,-4.199504e+05,59930153
2000-FEV,PETRÓLEO,0,-6.853779e-02,51
2000-JAN,PETRÓLEO,0,-0.000000e+00,0
...,...,...,...,...
2022-SET,PETRÓLEO,1,1.630030e+06,1043765015
2023-FEV,PETRÓLEO,0,-2.872574e+06,1199498348
2023-JAN,PETRÓLEO,0,-7.183410e+06,3146824339
2023-FEV,PETRÓLEO,1,1.415934e+06,744182755
2023-JAN,PETRÓLEO,1,1.785378e+06,1013577742

In [6]:
#Total produção nacional por ano
df2["ANOMES"] = df2["ANO"].astype(str)+'-'+df2["MÊS"]
df2 = df2.drop(columns=["ANO"]).groupby(["ANOMES"], group_keys=False).sum()
df2

,MÊS,UNIDADE DA FEDERAÇÃO,REFINARIA,MATÉRIA PRIMA,PROCESSADO
ANOMES,,,,,
1990-ABR,ABRABRABRABRABRABRABRABRABRABRABRABRABRABRABRA...,SÃO PAULOSÃO PAULOBAHIAMINAS GERAISBAHIARIO DE...,RPBCUNIVENDAX OILREGAPRLAMREDUCREVAPRPCCREPARM...,OUTRAS CARGASPETRÓLEO IMPORTADOPETRÓLEO IMPORT...,4610756
1990-AGO,AGOAGOAGOAGOAGOAGOAGOAGOAGOAGOAGOAGOAGOAGOAGOA...,BAHIASÃO PAULOSÃO PAULORIO DE JANEIROMINAS GER...,DAX OILRPBCUNIVENREDUCREGAPRLAMREVAPRECAPREPAR...,PETRÓLEO IMPORTADOOUTRAS CARGASPETRÓLEO IMPORT...,6380595
1990-DEZ,DEZDEZDEZDEZDEZDEZDEZDEZDEZDEZDEZDEZDEZDEZDEZD...,BAHIASÃO PAULORIO GRANDE DO SULSÃO PAULORIO DE...,DAX OILRPBCRIOGRANDENSEUNIVENREDUCREGAPRLAMREV...,PETRÓLEO IMPORTADOOUTRAS CARGASPETRÓLEO IMPORT...,5605698
1990-FEV,FEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVF...,SÃO PAULOSÃO PAULOBAHIAMINAS GERAISRIO GRANDE ...,RPBCUNIVENDAX OILREGAPREFAPRLAMREDUCREVAPRPCCR...,OUTRAS CARGASPETRÓLEO IMPORTADOPETRÓLEO IMPORT...,5511327
1990-JAN,JANJANJANJANJANJANJANJANJANJANJANJANJANJANJANJ...,SÃO PAULOSÃO PAULOBAHIAMINAS GERAISRIO GRANDE ...,RPBCUNIVENDAX OILREGAPREFAPRLAMREDUCREVAPRPCCR...,OUTRAS CARGASPETRÓLEO IMPORTADOPETRÓLEO IMPORT...,4518332
...,...,...,...,...,...
2022-OUT,OUTOUTOUTOUTOUTOUTOUTOUTOUTOUTOUTOUTOUTOUTOUTO...,SÃO PAULOSÃO PAULOSÃO PAULOBAHIAMINAS GERAISBA...,SSOILRPBCUNIVENDAX OILREGAPRLAM (ATUALMENTE MA...,PETRÓLEO IMPORTADOOUTRAS CARGASPETRÓLEO IMPORT...,9025521
2022-SET,SETSETSETSETSETSETSETSETSETSETSETSETSETSETSETS...,SÃO PAULOSÃO PAULOBAHIAMINAS GERAISBAHIARIO DE...,SSOILRPBCDAX OILREGAPRLAM (ATUALMENTE MATARIPE...,PETRÓLEO IMPORTADOOUTRAS CARGASPETRÓLEO IMPORT...,8767134
2023-FEV,FEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVFEVF...,SÃO PAULOSÃO PAULOBAHIARIO GRANDE DO SULRIO DE...,RPBCSSOILDAX OILREFAPREDUCREGAPRPCCRNESTREVAPU...,OUTRAS CARGASPETRÓLEO IMPORTADOPETRÓLEO IMPORT...,7155592
2023-JAN,JANJANJANJANJANJANJANJANJANJANJANJANJANJANJANJ...,SÃO PAULOBAHIASÃO PAULORIO DE JANEIRORIO GRAND...,RPBCDAX OILSSOILREDUCREFAPLUBNORREGAPRNESTRPCC...,OUTRAS CARGASPETRÓLEO IMPORTADOPETRÓLEO IMPORT...,8002135
2023-MAR,MARMARMARMARMARMARMARMARMARMARMARMARMARMARMARM...,SÃO PAULOSÃO PAULOBAHIARIO GRANDE DO SULMINAS ...,SSOILRPBCDAX OILREFAPREGAPREDUCRPCCREPARREVAPR...,PETRÓLEO IMPORTADOOUTRAS CARGASPETRÓLEO IMPORT...,7986557

In [7]:
df1.join(df2).corr()

ValueError: could not convert string to float: 'PETRÓLEO'

In [ ]:
# Gabriel de Carvalho Barros
# Gustavo Marcos Xavier
# Kauê Marques
# Gabriel Henrique Marques
# Márcio Paiva
# Matheus Sóleo